@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

.body {
    border: 2px solid green;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
}

.logo {
    height: 48px;
    display: flex;
    align-items: center;
}

.logo a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

ul {
    display: flex;
    height: 48px;
    align-items: center;
    gap: 48px;
}

ul li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: #F9FAF8;
}

