@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    border-radius: 12px;
}


body {
    font-family: "Roboto", sans-serif;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
}

.logo {
    height: 48px;
    display: flex;
    align-items: center;
}

.logo a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

ul {
    display: flex;
    height: 48px;
    align-items: center;
    gap: 48px;
}

ul li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: #F9FAF8;
}

.nav li a:hover {
    color: #8d8d8d;
    font-size: 17px;
}

.hero {
    display: flex;
    justify-content: space-evenly;
    background-color: #1F2937;
    align-items: center;
    gap: 15px;
    padding: 48px;
    flex-wrap: wrap;
}

.text h1 {
    font-size: 48px;
}

.text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    flex-basis: 400px;
    gap: 10px;
    flex-shrink: 1;
}

.image {
    display: flex;
}


.image img {
    padding: 15px;
}

.text button {
    border: solid 1px #1F2937;
    align-self: flex-start;
    padding: 10px 40px;
    flex-basis: 20px;
    background-color: #3882F6;
    color: white;
    font-weight: 600;
    border-radius: 12px;
}

.text button:hover {
    background-color: #89b4fa;
    cursor: pointer;
    padding: 12px 42px;
}

.information {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 60px;
}

.information h1 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 95px;
}

.information .images {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    flex-wrap: wrap;
}


.info img {
    max-width: 150px;
}

.info .text {
    font-size: 16px;
    color: black;
    text-align: center;
    max-width: 150px;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    padding: 100px
}

.quote-text {
    font-style: italic;
    font-size: 32px;
    font-weight: 100;
}

.quote-author {
    padding: 15px;
    text-align: end;
    font-weight: 600;
    font-size: 28px;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 80px;
}

.call-to-action .container {
    display: flex;
    flex-basis: 800px;
    background-color: #3882F6;
    justify-content: space-evenly;
    padding: 40px;
    border-radius: 12px;
}

.button {
    align-self: center;
}

.text h2 {
    font-size: 22px;
}

.text p {
    font-size: 12px;
    font-weight: 200;
}

.button button{
    padding: 10px 40px;
    background-color: #3882F6;
    border-radius: 12px;
    border-color: white;
    color: #fff;
    font-weight: 600;
}

.footer {
    background-color: #1F2937;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer div 
{
    flex: 1;
    text-align: center;
    color: white;
}
